repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v1.4.0
      hooks:
        - id: check-added-large-files
        - id: check-case-conflict
        - id: check-json
        - id: check-merge-conflict
        - id: check-symlinks
        - id: check-yaml
        - id: trailing-whitespace
        - id: end-of-file-fixer
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args: ["-i"]
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --filter=-runtime/references,-readability/nolint,-build/c++11
            - --exclude=./src/seal/opset_he_seal_tbl.hpp ./test/*
        - id: yapf
          name: yapf
          entry: yapf
          language: system
          files: \.py$
          args: [-i]
